<br>
<div class="container">
<a class="btn btn-dark" routerLink="cadastrar"><i class="material-icons">add</i></a>
<br>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Curso</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aluno of alunos" class="table-active">
      <th scope="row">{{aluno.id}}</th>
      <td>{{aluno.nome}}</td>
      <td>{{aluno.email}}</td>
      <td>{{aluno.curso}}</td>
      <td><a type="button" class="btn btn-success" [routerLink]="['editar/', aluno.id]"><span class="material-icons">
        create
        </span>
      </a></td>
      <td><a type="button" class="btn btn-danger" (click)="remover(aluno.id)"><span class="material-icons">
        delete
        </span></a></td>
    </tr>
  </tbody>
</table>
</div>
